@model IEnumerable<mvc1.Models.Produto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista</h1>
    <p>@ViewBag.Message</p>
</div>

<table class="table table-sm table-striped">
    <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Preço
                </th>
            </tr>

    </thead>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.ProdutoId
        </td>
        <td>
            @item.Nome
        </td>
                <td>
            @item.Categoria
        </td>
        <td>
            @item.Preco
        </td>
    </tr>
    
}
</table>